
// FONT STACKS
$font-url-google: 'https://fonts.googleapis.com/css?family=Lato:400,700';
$font-family: 'Lato', sans-serif;


// BASE COLORS
$white: #e9e9e9;
$black: #0f0f0f;
$grey: #2f3030;

// BREAKPOINTS
$brkpoint-sm: 1px;
$brkpoint-md: 767px;
$brkpoint-lg: 1023px;

// TEXT
$base__font-size : 16px;
$base__line      : 24px;