// BASE STYLES

h2 {
    text-transform: uppercase;
    margin: em(25px) 0;
    margin-left: em(5px);
    color: $grey;
}

img {
    border-radius: 50%;
    height: 100px;
}

.name {
    font-size: em(16px);
    margin: em(8px) 0;
}

.email,
.city {
    color: $grey;
    font-size: em(14px);
    margin: em(5px) 0;
}

// FLEX STYLING

.employee-card {
    @include flex(flex, row);
    width: em(300px);
    margin: 0;
}

.employee-info {
    @include flex(flex, column, center);
}