// BASE STYLES

h2 {
    text-transform: uppercase;
    margin-top: em(15px);
    color: $grey;
}

img {
    border-radius: 50%;
    height: 100px;
}

.name {
    font-size: em(16px);
    margin: em(8px) 0;
    font-weight: bold;
}

.email,
.city {
    color: $grey;
    font-size: em(14px);
    margin: em(5px) 0;
}

// FLEX STYLING

#directory {
    @include flex(flex, row, space-between);
    flex-wrap: wrap;
}