#employee-card {
    @include flex(flex, row);
    width: em(350px);
    margin: em(20px) 0;
    background-color: white;
    padding: em(18px);
    border: em(1px) solid $grey;
    border-radius: em(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer
}

.employee-info {
    @include flex(flex, column, center);
    margin-left: em(10px);
}

//MODAL STYLES

.modal__overlay {
    background: rgba(255, 255, 255, .8);
    opacity: .8;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    z-index: 600;
}

input {
    position: absolute;
    top: -1000px;
}

.modal__overlay {
    opacity: 0;
    z-index: -100;
    transform: scale(0.5);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.modal__wrap {
    background: #FFF;
    opacity: 1;
    padding: 1em 1em;
    position: relative;
    margin: 0 auto;
    margin-top: em(20px);
    max-width: em(500px);
    width: 85%;
    border-radius: em(5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

input:checked~.modal__overlay {
    opacity: .7;
    transform: scale(1);
    z-index: 800;
}

.modal__wrap label {
    color: #000000;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.5em;
}